@import "tailwindcss";

@font-face {
  font-family: "pricedown";
  src: url("./pricedown.otf");
}
@font-face {
  font-family: "poppins";
  src: url("./Poppins-Light.otf");
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "pricedown", "poppins";
  background: #000;
}

